#dotpay-info {
  z-index: 5;
	position: fixed;
  opacity: 0.2;
	bottom: -145px;
	right: 0;
	min-width: 420px;
  min-height: 200px;
  -webkit-box-shadow: -3px -4px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: -3px -4px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: -2px -3px 5px 0px rgba(50, 50, 50, 0.4);
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
  background-color: #EEF2F4;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#dotpay-info:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  bottom: 0;
  opacity: 1;
}
.plugin-title {
  padding: 5px;
  background: #424346; /* Old browsers */
  background: -moz-linear-gradient(top, #424346 0%, #38393c 35%, #262628 82%, #222224 97%, #242426 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424346), color-stop(35%,#38393c), color-stop(82%,#262628), color-stop(97%,#222224), color-stop(100%,#242426)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #424346 0%,#38393c 35%,#262628 82%,#222224 97%,#242426 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #424346 0%,#38393c 35%,#262628 82%,#222224 97%,#242426 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #424346 0%,#38393c 35%,#262628 82%,#222224 97%,#242426 100%); /* IE10+ */
  background: linear-gradient(to bottom, #424346 0%,#38393c 35%,#262628 82%,#222224 97%,#242426 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424346', endColorstr='#242426',GradientType=0 ); /* IE6-9 */
}
.plugin-title img {
  height: 35px;
  vertical-align: middle;
  padding: 7px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #FFFFFF;
}
.plugin-button {
  padding: 10px;
  font-size: 12px;
  color: #000000;
}

.plugin-button button {
  min-height: 40px;
  width: 100%;
  margin: 4px 0;
}
.plugin-button button:hover {
  color: #FFFFFF;
  background: #be2727; /* Old browsers */
  background: -moz-linear-gradient(top, #be2727 0%, #b32424 18%, #9a1f1f 43%, #7c1717 69%, #681313 91%, #641111 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#be2727), color-stop(18%,#b32424), color-stop(43%,#9a1f1f), color-stop(69%,#7c1717), color-stop(91%,#681313), color-stop(100%,#641111)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #be2727 0%,#b32424 18%,#9a1f1f 43%,#7c1717 69%,#681313 91%,#641111 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #be2727 0%,#b32424 18%,#9a1f1f 43%,#7c1717 69%,#681313 91%,#641111 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #be2727 0%,#b32424 18%,#9a1f1f 43%,#7c1717 69%,#681313 91%,#641111 100%); /* IE10+ */
  background: linear-gradient(to bottom, #be2727 0%,#b32424 18%,#9a1f1f 43%,#7c1717 69%,#681313 91%,#641111 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be2727', endColorstr='#641111',GradientType=0 ); /* IE6-9 */
}
#plugin-confirm {
  padding: 4px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 10px;
  color: #000000;
}